body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Fondo con degradado suave sin scroll */
  color: #1E1E1F;
  font-family: 'Monserrat',Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 10vh;
}
