.todo-counter__title {
    text-align: center;
    font-size: 35px; /* Tamaño de letra */
    color: #1f456c;  /* Color del texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: color 0.3s ease; /* Transición suave para el color */
    margin: 0;
    margin-top: 40px; /* Eliminar márgenes */
}

.todo-counter__subtitle {
    text-align: center;
    font-size: 35px; /* Tamaño de letra para el subtítulo */
    color: #1f456c; /* Color del subtítulo */
    margin-top: 5px; /* Espacio entre título y subtítulo */

}

.todo-counter__subtitle span {
    color: #27ae60; /* Color para resaltar partes del texto */
    font-weight: bold; /* Negrita */
}
