.todo-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 10px auto;
}

.todo-search__input {
    width: 100%; /* El input ocupa todo el ancho del contenedor */
    padding: 10px 20px; /* Espacio a los lados */
    padding-left: 40px; /* Espacio a la izquierda para que el ícono no interfiera */
    text-align: center; /* Centrar el texto dentro del input */
    font-size: 16px;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.todo-search__icon {
    position: absolute;
    right: 10px; /* Colocación del ícono a la izquierda del input */
    font-size: 20px;
    color: #7f8c8d;
}

.todo-search__input:focus {
    border-color: #27ae60;
    outline: none;
}

.todo-search__input::placeholder {
    color: #7f8c8d;
}
